@page
@model Web_tech.Pages.CreateQuestionPagesModel
@{
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Widget - Create Exam Paper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/CreateQuestionPages.css" asp-append-version="true" />
</head>
    <main class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget" >
                    <i class="fa fa-question-circle-o widget-icon" alt="Questions Bank Icon"></i>
                    <h2 class="widget-title">Questions Bank</h2>
                    <p class="widget-description">Select questions from a bank of pre-made questions.</p>
                    <button class="widget-link" onclick="redirectToPage1() ">Get Started</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget">
                    <i class="fa fa-pencil-square-o widget-icon" alt="Generate Questions Icon"></i>
                    <h2 class="widget-title">Generate Questions</h2>
                    <p class="widget-description">Create custom questions and add them to your exam paper.</p>
                    <button class="widget-link" onclick="redirectToPage() ">Get Started</button>
                </div>
            </div>
        </div>
    </main>
</html>
<script>
    function redirectToPage() {
        window.location.href = '/pages/CreateQuestionPaper';
    }
    function redirectToPage1() {
        window.location.href = '/pages/QuestionBank';
    }
</script>