@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_tech</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>
<body>

    <div class="header">
        <div class="headerInner">
            <div class="headerTitle" onclick="myFunction()">Create Exam Paper</div>
            <div class="headerLinks">            
                <a href="/index" class="nav-menu__link">Homepage</a>
                <a href="~/pages/CreateQuestionPages" class="nav-menu__link">Create question</a>
                <a href="/user/profilepage" class="nav-menu__link">Profile</a>
                <a href="~/contactus" class="nav-menu__link">Contact Us</a>

                @if (SignInManager.IsSignedIn(User))
                {
                    <a id="manage" class="headerLinks" asp-area="Identity" asp-page="/user/profilepage" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    <form id="logoutForm" class="headerLinks" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="headerLinks">Logout</button>
                    </form>
                }
                else
                {
                    <a href="~/user/Register">Register</a>
                    <a href="~/user/Login">Login</a>
                }
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
    <script>
        var checkbox = document.getElementById('darkModeCheckbox');
        var body = document.body;

        // Function to set the dark/light mode
        function setDarkMode(isDarkMode) {
            localStorage.setItem('dark', isDarkMode);
            if (isDarkMode) {
                body.classList.add('dark');
            } else {
                body.classList.remove('dark');
            }
        }
        // Event listener for checkbox change
        checkbox.addEventListener('change', function () {
            setDarkMode(this.checked);
        });

        // Load the dark/light mode on page load
        if (localStorage.getItem('dark') === 'true') {
            checkbox.checked = true;
            setDarkMode(true);
        }
    </script>
</body>
</html>