@page
@model Web_tech.Pages.ContactUSModel
@{
    <html>
    <head>

        <style>

            body {
               
            }

            .container {
                margin-top:0;                
                margin-bottom: calc(10vh + 2vw);
               
            }

            /* Form */
            .forms {
                
                max-width: 700px;
                        
                margin: calc(5vh + 3vw) auto 0;
                padding: 5% 2vw  ; /* Add padding to create margin around the form */
                background: rgba(255, 255, 255, 0.72);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
            }


            ul {
                list-style: none;
                padding: 0;
                margin: auto;
            }

            li {
                margin-bottom: 20px;
            }

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                box-sizing: border-box;
            }

            textarea {
                height: 150px;
            }

          
                
              .rowbody button[type="submit"]{
                
                background-color: #007bff;
                color: white;
                padding: 12px 20px;
                border: none;
                position: absolute;
                border-radius: 15px;
                cursor: pointer;
                margin-bottom:10px;
                font-weight: bold;
                transition: all 0.3s ease-in-out;
            }

            .rowbody button[type="submit"]:hover {
                background-color: #ffffff;
                color: #007bff;
                border-color: #007bff;
                cursor: pointer;
            }

        </style>






    </head>
    <body>

        <div class="container">

            <div class="rowbody">
                
                <div class="forms">
                <form  action="#">
                    <h1>CONTACT US &nbsp;</h1>
                    <h3>Fill out the form below to learn more!</h3>
                    <ul>
                        <li>
                            <p class="left">
                                <label for="first_name">First name</label>
                                <input type="text" name="first_name" placeholder="John" />
                            </p>
                            <p class="pull-right">
                                <label for="last_name">Last name</label>
                                <input type="text" name="last_name" placeholder="Smith" />
                            </p>
                        </li>
                        <li>
                            <p>
                                <label for="email">Email</label>
                                <input type="email" name="email" placeholder="john.smith@example.com" />
                            </p>
                        </li>
                        <li>
                            <p>
                                <label for="message">Message</label>
                                <textarea name="message" placeholder="Write your message here"></textarea>
                            </p>
                        </li>
                        <li>
                            <p>
                                <button type="submit" >Submit</button>
                            </p>
                        </li>
                    </ul>
                </form>
                </div>
            </div>
        </div>

    </body>
    </html>
}
