@page
@model Web_tech.Pages.study_loginModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="~/css/Login2.css" asp-append-version="true" />
    </head>
    <body>
        <form method="post">
            <div>
                <h3>Login </h3>
                <label>Username：</label>
                <input type="text" id="username" name="username" required /><br />
                <label>Password：</label>
                <input type="password" id="password" name="password" required /><br />
                <button type="submit">Submit</button>
                <div class="register-section">
                    <h3 class="register-heading">Need an account?</h3>
                    <a href="/index1" class="register-button" style="text-decoration: none; color:#2b73b7">Create an account now</a>
                </div>


            </div>
            <label id="lblMessage">@Model.Message</label>
        </form>



    </body>
    <!--  <script>
            $('form').submit(function (event) {
                event.preventDefault();
                $.post('@Url.Page("study_login")', $(this).serialize(), function (data) {
                    alert("JWT token: " + data.token);
                });
            });
        </script> -->
    </html>
}
