@page
@model Web_tech.Pages.study_loginModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Loginpage</title>

        <!--<style type="text/css">
            #lblMessage{ margin-left:5px; color:Red;}
            .yzyh{color:Gray;}
        </style>-->
        <!--<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />-->
        <link rel="stylesheet" href="~/css/Login2.css" asp-append-version="true" />
    </head>
    <body>
        <form method="post">
            <div>
                <label>Username：</label>
                <input type="text" id="username" name="username" required/><br />
                <label>Password：</label>
                <input type="password" id="password" name="password" required/><br />
                <button type="submit">Submit</button>
            </div> 
            <label id="lblMessage">@Model.Message</label>
        </form>
    </body>
    </html>
}
