@page
@model Web_tech.Pages.study_loginModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Loginpage</title>
        <link rel="stylesheet" href="~/css/Login2.css" asp-append-version="true" />
    </head>
    <body>
        <form method="post">
            <div>
                <label>Username：</label>
                <input type="text" id="username" name="username" required /><br />
                <label>Password：</label>
                <input type="password" id="password" name="password" required /><br />
                <button type="submit">Submit</button>
                <a href="#" class="register-button">Register</a>
            </div>
            <label id="lblMessage">@Model.Message</label>
        </form>

        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

        @section Scripts {
        <script>
            window.addEventListener("load", function(){
                const loader = document.querySelector("#loader-wrapper");
                loader.style.display = "none";
            });
        </script>
        }
        <!-- Footer -->
        <footer>Footer content</footer>
    </body>
    </html>
}
