@page
@model Web_tech.Pages.Index4Model
@{
}
<html>
<head>
    <title>Create Exam Paper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<body>

    <section class="jumbotron text-center ">
        <div class="container">
            <h1 class="display-4">Create Exam Paper with Ease</h1>
            <p class="lead">Streamline your workflow and reduce your workload with our platfrom, the easiest and most customizable platform for creating exam papers. Our platform lets you select questions from a question bank and generate a customized exam paper in PDF format. No more time-consuming manual exam paper creation!</p>
            <a href="/user/login" class=" btn-primary ">Get Started Now</a>
        </div>
    </section>

    <section class="features py-5 glass-section " style="margin-bottom: 60px; margin-top: -30px;">
        <div class="container">
            <h2 class="text-center mb-5 text-white custom-heading">Why Choose Our Platform?</h2>
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card border-0 feature h-100">
                        <img src="/Resources/Images/Easy.png" alt="Icon description" class="feature-icon">
                        <div class="card-body">
                            <h3 class="card-title feature-text">Easy to Use</h3>
                            <p class="card-text">Our platform's intuitive interface makes it easy for you to create exam papers in minutes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card border-0 feature h-100">
                        <img src="/Resources/Images/Customize.jpg" alt="Icon description" class="feature-icon">
                        <div class="card-body">
                            <h3 class="card-title feature-text">Fully Customizable</h3>
                            <p class="card-text">Select questions from our question bank or add your own, and customize your exam paper to fit your specific needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card border-0 feature h-100">
                        <img src="/Resources/Images/Pdf.png" alt="Icon description" class="feature-icon">
                        <div class="card-body">
                            <h3 class="card-title feature-text">PDF Output</h3>
                            <p class="card-text">Generate exam papers in PDF format with just one click, and save time and paper by eliminating the need for manual printing and distribution.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial glass-section" style="margin-bottom: 60px;">
        <div class="container">
            <h2 class="text-center mb-5 text-white ">What Our Users Say</h2>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="/Resources/Images/Teacher_Flatline.png" alt="Testimonial avatar">
                            <p class="card-text">" www has made my life as a teacher so much easier. I used to spend hours creating exam papers, but now I can do it in minutes. Highly recommend!"</p>
                        </div>
                        <div class="card-footer">
                            <h4 class="testimonial-author">- Sarah T., High School Teacher</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="/Resources/Images/Teacher_Flatline.png" alt="Testimonial avatar">
                            <p class="card-text">"I love how customizable www is. I can create exam papers that are tailored to my students' needs and preferences."</p>
                        </div>
                        <div class="card-footer">
                            <h4 class="testimonial-author">- John R., College Professor</h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="/Resources/Images/Teacher_Flatline.png" alt="Testimonial avatar">
                            <p class="card-text">" www has made my life as a teacher so much easier. I used to spend hours creating exam papers, but now I can do it in minutes. Highly recommend!"</p>
                        </div>
                        <div class="card-footer">
                            <h4 class="testimonial-author">- Sarah T., High School Teacher</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing glass-section" style="margin-bottom: 80px;">
        <div class="container">
            <h2 class="text-center mb-5 text-white custom-heading">Pricing Plans</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Basic</h3>
                        </div>
                        <div class="card-body">
                            <p class="price">$9.99/month</p>
                            <ul class="list-unstyled">
                                <li>10 question bank limit</li>
                                <li>5 exam paper creations per month</li>
                                <li>PDF format only</li>
                                <li>Email support</li>
                            </ul>
                            <button href="#" class=" btn-primary">Choose Plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card popular">
                        <div class="card-header">
                            <h3>Premium</h3>
                        </div>
                        <div class="card-body">
                            <p class="price">$19.99/month</p>
                            <ul class="list-unstyled">
                                <li>Unlimited question bank</li>
                                <li>Unlimited exam paper creations</li>
                                <li>PDF and Word format</li>
                                <li>Email and phone support</li>
                            </ul>
                            <button href="#" class=" btn-primary">Choose Plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Enterprise</h3>
                        </div>
                        <div class="card-body">
                            <p class="price">Contact us</p>
                            <ul class="list-unstyled">
                                <li>Customizable to your needs</li>
                                <li>Dedicated account manager</li>
                                <li>Custom formats</li>
                                <li>24/7 support</li>
                            </ul>
                            <button href="#" class=" btn-primary">Contact Us</button>
                        </div>
                    </div>
    </section>


</body>
</html>