@page
@model Web_tech.Pages.Index2Model
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body class="container">
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $window) {
            $scope.Students = [
                { Subject: "", Topic: "", Difficulty: "", Picture: "", Question: "", AnswerOrExaplanation: "" }
            ];

            $scope.Add = function () {
                //Add the new item to the Array.
                var customer = {};
                customer.Subject = $scope.Subject;
                customer.Topic = $scope.Topic;
                customer.Difficulty = $scope.Difficulty;
                customer.Picture = $scope.Picture;
                customer.Question = $scope.Question;
                customer.AnswerOrExaplanation = $scope.AnswerOrExaplanation;
                $scope.Students.push(customer);

                //Clear the TextBoxes.
                $scope.Name = "";
                $scope.Country = "";
            };

            $scope.Remove = function (index) {
                //Find the record using Index from Array.
                var name = $scope.Students[index].Name;
                if ($window.confirm("Do you want to delete: " + name)) {
                    //Remove the item from Array using Index.
                    $scope.Students.splice(index, 1);
                }
            }
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">

        </br>

        <center><h1>Dynamically Add/Remove Row Within HTML Table with AngularJs & Bootstrap 4</ht></center>
        </br>


        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputCity">Subject</label>
                <input type="text" ng-model="Subject" class="form-control" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputCity">Topic</label>
                <input type="text" ng-model="Topic" class="form-control" placeholder="Topic" aria-label="Topic" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputCity">Difficulty</label>
                <input type="text" ng-model="Difficulty" class="form-control" placeholder="Difficulty" aria-label="Difficulty" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputCity">Picture</label>
                <input type="text" ng-model="Picture" class="form-control" placeholder="Picture" aria-label="Picture" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputCity">Question</label>
                <input type="text" ng-model="Question" class="form-control" placeholder="Question" aria-label="Question" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputCity">AnswerOrExaplanation</label>
                <input type="text" ng-model="AnswerOrExaplanation" class="form-control" placeholder="AnswerOrExaplanation" aria-label="AnswerOrExaplanation" aria-describedby="basic-addon1">
            </div>
        </div>


        <input class="btn btn-success" type="button" ng-click="Add()" value="InsertRow" /></td>
        <th>
            </br>
            </br>
            <table class="table table-hover">
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Question</th>
                    <th scope="col">AnswerOrExaplanation</th>
                    <th></th>
                </tr>
                <tbody ng-repeat="m in Students">
                    <tr>
                        <td scope="row">{{m.Subject}}</td>
                        <td>{{m.Topic}}</td>
                        <td>{{m.Difficulty}}</td>
                        <td>{{m.Picture}}</td>
                        <td>{{m.Question}}</td>
                        <td>{{m.AnswerOrExaplanation}}</td>
                        <td><input class="btn btn-danger" type="button" ng-click="Remove($index)" value="Remove" /></td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>