body {
    margin: 0;
    padding: 0;
    height: 90vh; /* set body height to 100vh to fill screen */
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    height: 95vh; /* set column-container height to 90vh to fill 90% of the viewport height */
    padding: 20px; /* add padding to the container */
    box-sizing: border-box; /* include padding in the height and width of the container */
}

.column {
    min-width: 0;
    height: 100%;
    padding: 10px;
    border: 1px solid black;
}

.inner-column-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* set inner-column-container height to 100% to fill left column */
}

.inner-column {
    flex: 1;
    min-width: 0;
    padding: 10px;
    height: 100%; /* set inner-column height to 100% to fill inner-column-container */
    border: 1px solid black;
    overflow-y: scroll;
}

.a4Format {
    aspect-ratio: 1 / 1.414; /* ratio of A4 paper */
    width: auto; /* allow the width to adjust based on parent container */
    max-height: 100%; /* limit the height to the maximum height of the parent container */
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center; /* add this line to vertically center the text and button */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding-right: 10px;
}

    .question > span {
        flex: 1; /* add this line to make the question text take up all available space */
        min-width: 0; /* add this line to allow text to wrap if necessary */
    }

.qstAct-button {
    flex-shrink: 0; /* add this line to prevent the button from shrinking */
}

.question:hover {
    text-overflow: clip;
    white-space: normal;
}
