body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    background-color: transparent;
    margin-top: 50px;
    padding: 70px;
}

    .jumbotron h1 {
        font-size: 48px;
        font-weight: bold;
        color: #343a40;
        margin-bottom: 30px;
    }

    .jumbotron p {
        font-size: 24px;
        color: #6c757d;
        margin-bottom: 40px;
    }

        .jumbotron h1.display-4,
        .jumbotron p.lead {
            /*color: white;*/
            color: white;
        }

.btn-primary {
    /*background-color: #007bff;*/
    /*border-color: #007bff;*/
    margin-bottom: 5vh;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 18px 18px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    /*background-color: #007bff;*/
    /*border-color: #007bff;*/
}

    .btn-primary:hover {
        background-color: black;
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

.feature {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .feature h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
    }


.feature-icon {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 20px;
    margin-top: 50px;
}

.feature-text {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    text-align: center;
}

.features .card {
    width: clamp(200px, 80%, 500px);
    max-height: clamp(200px, 50vh, 350px);
    padding: 20px;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    margin: calc( 2vw) auto;
    overflow: hidden;
}

.features .feature-icon {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.features .feature-text {
    font-size: 20px;
    margin-top: 0px;
}

.features .card-text {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 0px;
    text-align: center;
}

.testimonial {
    padding: 50px 0;
}

    .testimonial h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .testimonial .card {
        border: none;
        background: rgba(255, 255, 255, 0.72);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.8px);
        -webkit-backdrop-filter: blur(7.8px);
    }

    .testimonial .card-body {
        text-align: center;
    }

        .testimonial .card-body img {
            border-radius: 50%;
            max-width: 100%;
            height: auto;
            object-fit: cover;
            margin-bottom: 20px;
        }

    .testimonial .card-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .testimonial .testimonial-author {
        font-size: 18px;
        font-weight: 700;
        color: #007bff;
        margin-bottom: 0;
    }

.pricing {
    padding: 50px 0;
}

    .pricing .card {
        background: rgba(255, 255, 255, 0.72);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.8px);
        -webkit-backdrop-filter: blur(7.8px);
    }

    .pricing h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
    }

.custom-heading {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.glass-section {
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    margin: calc( 5vh+2vw) auto 0;
}
