.LoginForm {
    width: 90%;
    height: 50%;
    max-width: 450px;
    margin: 50px auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
    .LoginForm {
        width: 70%;
        height: 40%;
        max-width: 450px;
        margin: 50px auto;
        padding: 50px;
        background-color: #ffffff;
        border-radius: 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

h1 {
    text-align: center;
    color: #333333;
}



input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}







/* Register button */
button[type="submit"] {
    background-color: #0077cc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 95%
}




#account h2 {
    margin-top: -20px;
    text-align: center;
}

#account .form-floating {
    margin-bottom: -30px;
}



    #account .form-floating label {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        display: block;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    #account .form-floating span.text-danger {
        display: block;
        margin-top: 25px;
    }

.form-links {
    text-align: center;
    margin-top: 50px;
   
}

    .form-links p {
        margin-bottom: 10px;
    }

    .form-links a {
        color: #999;
        text-decoration: none;
        transition: color 0.3s;
        color: black;
    }

        .form-links a:hover {
            color: #555;
        }

#account .checkbox {
    margin-bottom: 10px;
    margin-top:50px;
}
