    
/*Login pages*/
    .imgcontainer {
        position: relative;
        margin: 24px 0 12px 0;
    }

    .avatar {
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    .checkbox {
        margin-bottom: 16px;
        font-size: .9em;
        color: #999;
        font-weight: normal;
        display: block
    }

    input[type=checkbox] {
        position: relative;
        top: -1.5px
    }

    span.psw {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.login-page-container {
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    cursor: pointer;
}

    button[type="submit"]:hover {
        opacity: 0.8;
    }